# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# MLOps artifacts
mlruns/
.mlflow/
mlflow.db
data/archive/
models/*.pkl
*.log

# Exclude large raw transaction file exceeding 100MB GitHub limit
data/raw/train_transaction.csv

# IDEs
.vscode/
.idea/
